div
  span
    span(style="position:relative;")
      span.arrow(for="timezone-selector")
      select.timezone-selector(id="timezone-selector" name="timezone")
        option(value="" disabled selected) Select Timezone
        option(value="Etc/GMT+12") (GMT-12:00) International Date Line West
        option(value="Pacific/Midway") (GMT-11:00) Midway Island, Samoa
        option(value="Pacific/Honolulu") (GMT-10:00) Hawaii
        option(value="US/Alaska") (GMT-09:00) Alaska
        option(value="America/Los_Angeles") (GMT-08:00) Pacific Time (US &amp; Canada)
        option(value="America/Tijuana") (GMT-08:00) Tijuana, Baja California
        option(value="US/Arizona") (GMT-07:00) Arizona
        option(value="America/Chihuahua") (GMT-07:00) Chihuahua, La Paz, Mazatlan
        option(value="US/Mountain") (GMT-07:00) Mountain Time (US &amp; Canada)
        option(value="America/Managua") (GMT-06:00) Central America
        option(value="US/Central") (GMT-06:00) Central Time (US &amp; Canada)
        option(value="America/Mexico_City") (GMT-06:00) Guadalajara, Mexico City, Monterrey
        option(value="Canada/Saskatchewan") (GMT-06:00) Saskatchewan
        option(value="America/Bogota") (GMT-05:00) Bogota, Lima, Quito, Rio Branco
        option(value="US/Eastern") (GMT-05:00) Eastern Time (US &amp; Canada)
        option(value="US/East-Indiana") (GMT-05:00) Indiana (East)
        option(value="Canada/Atlantic") (GMT-04:00) Atlantic Time (Canada)
        option(value="America/Caracas") (GMT-04:00) Caracas, La Paz
        option(value="America/Manaus") (GMT-04:00) Manaus
        option(value="America/Santiago") (GMT-04:00) Santiago
        option(value="Canada/Newfoundland") (GMT-03:30) Newfoundland
        option(value="America/Sao_Paulo") (GMT-03:00) Brasilia
        option(value="America/Argentina/Buenos_Aires") (GMT-03:00) Buenos Aires, Georgetown
        option(value="America/Godthab") (GMT-03:00) Greenland
        option(value="America/Montevideo") (GMT-03:00) Montevideo
        option(value="America/Noronha") (GMT-02:00) Mid-Atlantic
        option(value="Atlantic/Cape_Verde") (GMT-01:00) Cape Verde Is.
        option(value="Atlantic/Azores") (GMT-01:00) Azores
        option(value="Africa/Casablanca") (GMT+00:00) Casablanca, Monrovia, Reykjavik
        option(value="Etc/Greenwich") (GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London
        option(value="Europe/Amsterdam") (GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna
        option(value="Europe/Belgrade") (GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague
        option(value="Europe/Brussels") (GMT+01:00) Brussels, Copenhagen, Madrid, Paris
        option(value="Europe/Sarajevo") (GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb
        option(value="Africa/Lagos") (GMT+01:00) West Central Africa
        option(value="Asia/Amman") (GMT+02:00) Amman
        option(value="Europe/Athens") (GMT+02:00) Athens, Bucharest, Istanbul
        option(value="Asia/Beirut") (GMT+02:00) Beirut
        option(value="Africa/Cairo") (GMT+02:00) Cairo
        option(value="Africa/Harare") (GMT+02:00) Harare, Pretoria
        option(value="Europe/Helsinki") (GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius
        option(value="Asia/Jerusalem") (GMT+02:00) Jerusalem
        option(value="Europe/Minsk") (GMT+02:00) Minsk
        option(value="Africa/Windhoek") (GMT+02:00) Windhoek
        option(value="Asia/Kuwait") (GMT+03:00) Kuwait, Riyadh, Baghdad
        option(value="Europe/Moscow") (GMT+03:00) Moscow, St. Petersburg, Volgograd
        option(value="Africa/Nairobi") (GMT+03:00) Nairobi
        option(value="Asia/Tbilisi") (GMT+03:00) Tbilisi
        option(value="Asia/Tehran") (GMT+03:30) Tehran
        option(value="Asia/Muscat") (GMT+04:00) Abu Dhabi, Muscat
        option(value="Asia/Baku") (GMT+04:00) Baku
        option(value="Asia/Yerevan") (GMT+04:00) Yerevan
        option(value="Asia/Kabul") (GMT+04:30) Kabul
        option(value="Asia/Yekaterinburg") (GMT+05:00) Yekaterinburg
        option(value="Asia/Karachi") (GMT+05:00) Islamabad, Karachi, Tashkent
        option(value="Asia/Calcutta") (GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi
        option(value="Asia/Calcutta") (GMT+05:30) Sri Jayawardenapura
        option(value="Asia/Katmandu") (GMT+05:45) Kathmandu
        option(value="Asia/Almaty") (GMT+06:00) Almaty, Novosibirsk
        option(value="Asia/Dhaka") (GMT+06:00) Astana, Dhaka
        option(value="Asia/Rangoon") (GMT+06:30) Yangon (Rangoon)
        option(value="Asia/Bangkok") (GMT+07:00) Bangkok, Hanoi, Jakarta
        option(value="Asia/Krasnoyarsk") (GMT+07:00) Krasnoyarsk
        option(value="Asia/Hong_Kong") (GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi
        option(value="Asia/Kuala_Lumpur") (GMT+08:00) Kuala Lumpur, Singapore
        option(value="Asia/Irkutsk") (GMT+08:00) Irkutsk, Ulaan Bataar
        option(value="Australia/Perth") (GMT+08:00) Perth
        option(value="Asia/Taipei") (GMT+08:00) Taipei
        option(value="Asia/Tokyo") (GMT+09:00) Osaka, Sapporo, Tokyo
        option(value="Asia/Seoul") (GMT+09:00) Seoul
        option(value="Asia/Yakutsk") (GMT+09:00) Yakutsk
        option(value="Australia/Adelaide") (GMT+09:30) Adelaide
        option(value="Australia/Darwin") (GMT+09:30) Darwin
        option(value="Australia/Brisbane") (GMT+10:00) Brisbane
        option(value="Australia/Canberra") (GMT+10:00) Canberra, Melbourne, Sydney
        option(value="Australia/Hobart") (GMT+10:00) Hobart
        option(value="Pacific/Guam") (GMT+10:00) Guam, Port Moresby
        option(value="Asia/Vladivostok") (GMT+10:00) Vladivostok
        option(value="Asia/Magadan") (GMT+11:00) Magadan, Solomon Is., New Caledonia
        option(value="Pacific/Auckland") (GMT+12:00) Auckland, Wellington
        option(value="Pacific/Fiji") (GMT+12:00) Fiji, Kamchatka, Marshall Is.
        option(value="Pacific/Tongatapu") (GMT+13:00) Nuku'alofa
