.flex__alighn
  &--left
    justify-content: left
  &--center
    justify-content: center
  &--right
    justify-content: right


.row
  display: flex
  margin-bottom: 40px
  width: 100%





div.contain
  width: 100%
  display: flex
  flex-direction: column
  padding: 5px
  @include mq(large)
    padding: 60px




.grid__row
  border-bottom: 1px solid $iron

main
  [class^="grid__col--"] + [class^="grid__col--"]
    border-top: 1px solid $iron

@include mq(large)
  main
    [class^="grid__col--"] + [class^="grid__col--"]
      border-left: 1px solid $iron
      border-top: none



