// ==========================================================================
// Navigation
// ==========================================================================


// --------------------------
//  Main Styles
//---------------------------


header
  position: fixed
  top: 0
  width: 100vw
  @include mq(large)
    position: unset
    width: unset

main
  margin-top: 250px


.notification-big
  display: none

h1.logo
  text-align: center


svg.bell
  width: 33.219px
  height: 33.219px


.hidden-bell
  @extend .bell
  position: fixed
  top: 15px
  z-index: -1
  svg
    fill: #FFF !important


.nav
  @include flex(flex,column)
  margin-top: 1.5em
  margin-top: 0
  align-self: center
  li
    padding-left: 1.1em
    padding-right: 1.1em
    display: inline-block
    &:hover svg
      fill: #FFF

.nav__side
  @extend .nav
  height: 69px
  width: 100%
  background-color: $east-bay
  .notification-small svg
    fill: #FFF
  svg
    height: 33px
    margin-top: 18px
    margin-bottom: 9px
    fill: rgba(255,255,255,0.7)
  ul
    display: flex
    justify-content: space-around
  li.current
    border: 3px solid transparent
    border-bottom-color: $de-york
    border-radius: 4px
    svg
      fill: #FFF


.nav__side--bg
  @extend .nav__side
  display: none
  position: absolute
  z-index: -2



// --------------------------
//  Media Queries
//---------------------------

// @include mq(medium)



@include mq(large)

  main
    margin-top: 0

  header
    .notification-big
      display: block

  .nav
    li
      padding-left: .65em
      padding-right: .65em
      &.current
        border-bottom-color: transparent
        border-left-color: $de-york


  .nav__side
    position: fixed
    margin-top: 0
    width: 60px
    height: 170vh
    ul
      flex-direction: column
    .notification-small
      display: none
    svg
      // height: 40px
      // width: 100%

  .nav__side--bg
    display: block
    position: absolute

