/* Style the header: fixed position (always stay at the top) */
.header
  position: fixed
  top: 0
  z-index: 1
  width: 100%
  background-color: $color-shadow

/* The progress container (grey background) */
.progress-container
  width: 100%
  height: 8px
  background: $color-shadow

/* The progress bar (scroll indicator) */
.progress-bar
  height: 8px
  background: $color-accent
  width: 0%


@include mq(large)
  .header, .progress-container, .progress-bar
    display: none





