@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url(../bower_components/normalize-css/normalize.css);
.grid:after {
  content: "";
  display: table;
  clear: both; }

.centered, .grid {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.srt {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

* {
  box-sizing: border-box; }

header {
  background-color: #7377bd; }
  header .grid__row {
    border-bottom: none; }
  header a {
    text-decoration: none; }
  header .bold {
    font-weight: 500; }
  header .light {
    font-weight: 100; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

p {
  font-family: "Open Sans", sans-serif; }

h5 {
  text-transform: uppercase;
  color: #666666; }

label {
  cursor: pointer;
  align-self: center; }

._50 {
  min-width: 50%; }

.container {
  margin: 0;
  width: 80%;
  padding-top: 2.5em;
  margin: auto; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 100; }

div.contain {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column; }

.img, .img--logo, .img--frame, .img--avatar {
  max-width: 100%;
  margin: 0 auto;
  align-self: center; }
  .img--logo {
    align-self: center; }
  .img--frame {
    border: 12px solid white;
    outline: 1px solid #d1d1d1;
    padding: 0.3125em solid #B2B2B2; }
  .img--avatar {
    border-radius: 50%; }

.form {
  display: flex;
  flex-direction: column;
  width: 100%; }

.form__input {
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  height: 40px;
  border: none;
  margin-bottom: 20px;
  border: 1px solid #d1d1d1;
  border-radius: 4px; }
  .form__input:focus {
    outline: none; }

.form__label--hidden {
  display: none; }

textarea.form__input {
  height: 125px; }

.btn, .btn--default, .btn--disabled, .btn--success, .btn--error, .btn--warning, .btn--info {
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  padding: 0.625em;
  margin: 0.625em 0; }
  .btn[type="submit"], [type="submit"].btn--default, [type="submit"].btn--disabled, [type="submit"].btn--success, [type="submit"].btn--error, [type="submit"].btn--warning, [type="submit"].btn--info {
    width: 100%; }
  .btn:focus, .btn--default:focus, .btn--disabled:focus, .btn--success:focus, .btn--error:focus, .btn--warning:focus, .btn--info:focus {
    outline: none; }
  .btn--default {
    background-color: #7377bd; }
    .btn--default:active {
      -moz-box-shadow: inset 0 0 10px #414589;
      -webkit-box-shadow: inset 0 0 10px #414589;
      box-shadow: inset 0 0 10px #414589; }
  .btn--disabled {
    background-color: #B2B2B2; }
    .btn--disabled:active {
      -moz-box-shadow: inset 0 0 10px #7f7f7f;
      -webkit-box-shadow: inset 0 0 10px #7f7f7f;
      box-shadow: inset 0 0 10px #7f7f7f; }
  .btn--success {
    background-color: #62cc82; }
    .btn--success:active {
      -moz-box-shadow: inset 0 0 10px #319750;
      -webkit-box-shadow: inset 0 0 10px #319750;
      box-shadow: inset 0 0 10px #319750; }
  .btn--error {
    background-color: #e4757b; }
    .btn--error:active {
      -moz-box-shadow: inset 0 0 10px #cb2831;
      -webkit-box-shadow: inset 0 0 10px #cb2831;
      box-shadow: inset 0 0 10px #cb2831; }
  .btn--warning {
    background-color: #ff774e; }
    .btn--warning:active {
      -moz-box-shadow: inset 0 0 10px #e73600;
      -webkit-box-shadow: inset 0 0 10px #e73600;
      box-shadow: inset 0 0 10px #e73600; }
  .btn--info {
    background-color: #9278c3; }
    .btn--info:active {
      -moz-box-shadow: inset 0 0 10px #5e4293;
      -webkit-box-shadow: inset 0 0 10px #5e4293;
      box-shadow: inset 0 0 10px #5e4293; }
  @media (min-width: 1100px) {
    .btn, .btn--default, .btn--disabled, .btn--success, .btn--error, .btn--warning, .btn--info {
      width: 9.375em; } }

.onoffswitch {
  position: relative;
  align-self: center;
  width: 100px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  .onoffswitch-checkbox {
    display: none; }
  .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #E3E3E3;
    border-radius: 50px; }
  .onoffswitch-switch {
    display: block;
    width: 30px;
    margin: 4px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 62px;
    border: 2px solid #E3E3E3;
    border-radius: 50px;
    transition: all 0.3s ease-in 0s; }
  .onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s; }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
      display: block;
      float: left;
      width: 50%;
      height: 34px;
      padding: 0;
      line-height: 34px;
      font-size: 19px;
      color: white;
      font-family: Trebuchet, Arial, sans-serif;
      font-weight: bold;
      box-sizing: border-box;
      color: #fff; }
    .onoffswitch-inner:before {
      content: "ON";
      padding-left: 9px;
      background-color: #7377bd;
      text-align: left; }
    .onoffswitch-inner:after {
      content: "OFF";
      padding-right: 9px;
      background-color: #B2B2B2;
      text-align: right; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
  background-color: #fff; }

.grid {
  width: 90%; }
  [class*="grid__col--"] > .grid {
    width: 100%; }
  @media (min-width: 1100px) {
    .grid {
      max-width: 1050px; } }

@media (min-width: 769px) {
  .grid__col--1 {
    width: 6.5%; }
  .grid__col--2 {
    width: 15%; }
  .grid__col--3 {
    width: 23.5%; }
  .grid__col--4 {
    width: 32%; }
  .grid__col--5 {
    width: 40.5%; }
  .grid__col--6 {
    width: 49%; }
  .grid__col--7 {
    width: 57.5%; }
  .grid__col--8 {
    width: 66%; }
  .grid__col--9 {
    width: 74.5%; }
  .grid__col--10 {
    width: 83%; }
  .grid__col--11 {
    width: 91.5%; }
  .grid__col--12 {
    width: 100%; } }

[class^="grid__col--"] {
  padding: 0.625em;
  display: flex;
  justify-content: space-around; }
  @media (min-width: 1px) and (max-width: 768px) {
    [class^="grid__col--"] {
      margin-top: 0.75em;
      margin-bottom: 0.75em;
      flex-direction: column;
      justify-content: center; } }

@media (min-width: 1100px) {
  .grid__row {
    display: flex;
    justify-content: space-between; } }

.row {
  display: flex;
  margin-bottom: 40px;
  width: 100%; }

.grid__row {
  border-bottom: 1px solid red; }

[class^="grid__col--"] + [class^="grid__col--"] {
  border-left: 1px solid red; }

.social-stat-container {
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  display: inline-block;
  background-color: #fbfbfb;
  margin-top: 15px;
  margin-left: 15px; }

.social-icon-name {
  font-size: 16px;
  width: 130px;
  text-align: left;
  color: #7377bd;
  padding-bottom: 0;
  padding-top: 10px; }

.social-icon-data {
  font-size: 30px;
  color: #666666;
  padding-bottom: 10px; }

.social-icon--twitter, .social-icon--facebook, .social-icon--google {
  background-color: #7377bd;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: 60%;
  background-position: 50% 50%;
  width: 50px;
  height: 50px;
  margin: 11px; }

.social-icon--twitter {
  background-image: url(../svgs/icon-twitter.svg);
  background-position: 50% 65%; }

.social-icon--facebook {
  background-image: url(../svgs/icon-facebook.svg); }

.social-icon--google {
  background-image: url(../svgs/icon-google-plus.svg); }

.timezone-selector {
  appearance: none;
  height: 40px;
  border: 1px solid #d1d1d1;
  width: 100%;
  padding: 10px;
  text-indent: 8px;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  cursor: pointer;
  margin-bottom: 25px; }
  .timezone-selector:focus {
    outline: none; }

.arrow {
  cursor: pointer;
  height: 32px;
  width: 32px;
  position: absolute;
  right: 0px;
  background-color: #FBFBFB;
  background: url("../svgs/icon-arrow-down.svg") no-repeat;
  background-size: 16px;
  background-position: 50% 70%; }

.logo a {
  color: #fff; }

/*# sourceMappingURL=styles.css.map */