@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@import url(../node_modules/normalize.css/normalize.css);
.grid:after {
  content: "";
  display: table;
  clear: both; }

.centered, .grid {
  float: none;
  margin-left: auto;
  margin-right: auto; }

.srt {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

center-align {
  text-align: center; }

pseudos {
  display: block;
  content: '';
  position: absolute; }

.search__button:focus, .search__box:focus, .timezone-selector:focus, .form__input:focus, .form__input--invalid:focus, .form__input--valid:focus {
  outline: none; }

* {
  box-sizing: border-box;
  overflow-x: hidden;
  user-select: none; }

h1, h2, h3, h4, h5, a, div, p, label, ol, ul, li, tr, th {
  overflow-y: hidden; }

h5 {
  font-size: 20px; }

a {
  cursor: pointer !important; }

header {
  background-color: #7377BD;
  z-index: 10; }
  header .grid__row {
    border-bottom: none; }
  header a {
    text-decoration: none; }
    header a .bold {
      font-weight: 700; }
    header a .light, header a sup {
      font-weight: 300; }
    header a sup {
      font-size: 10px;
      vertical-align: top;
      line-height: 2; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

label {
  cursor: pointer;
  align-self: center; }

._50 {
  min-width: 50%; }

.container {
  margin: 0;
  width: 80%;
  padding-top: 2.5em;
  margin: auto; }

.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden; }

* html .ui-autocomplete {
  height: 100px; }

div.contain {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column; }

.img, .img--avatar, .user_image, .img--frame, .img--logo {
  max-width: 100%;
  margin: 0 auto;
  align-self: center; }
  .img--logo {
    align-self: center; }
  .img--frame {
    border: 12px solid white;
    outline: 1px solid #D0D0D0;
    padding: 0.3125em solid #B2B2B2; }
  .img--avatar, .user_image {
    border-radius: 50%;
    width: 50px; }

.user_current--col {
  justify-content: unset !important; }

.user_current {
  align-self: center; }

.user {
  align-self: center;
  display: block;
  margin-bottom: 20px; }

.user_name {
  display: inline-block;
  color: #FFFFFF;
  vertical-align: middle; }

.user_image {
  margin-right: 10px;
  vertical-align: middle; }

.recent_activity-carrot {
  transform: scale(1, 1.5);
  font-size: 30px;
  font-size: 20px;
  font-weight: 400;
  display: none;
  margin: 0; }

.user-details {
  display: inline-block;
  vertical-align: middle; }

.new_members li:last-child .user,
.recent_activity li:last-child .user {
  border-bottom: none; }

.user-data-right {
  display: inline-block;
  vertical-align: middle;
  float: right; }

.recent_activity-data,
.recent_activity-time,
.user-title,
.user-subtitle {
  margin: 0; }

.recent_activity {
  margin-bottom: 15px; }

@media (min-width: 1024px) {
  .user {
    padding-bottom: 20px;
    border-bottom: 1px solid #D0D0D0; }
  .user_current--col {
    width: 30% !important; }
  .recent_activity-data {
    max-width: 500px; }
  .recent_activity-carrot {
    display: inline-block; } }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 100; }

p {
  font-family: "Open Sans", sans-serif; }

h1 {
  margin: 5px;
  font-size: 30px; }

h5 {
  text-transform: uppercase;
  color: #666666; }

.email {
  color: #7377BD;
  user-select: text; }

.form {
  display: flex;
  flex-direction: column;
  width: 100%; }

.form__input, .form__input--invalid, .form__input--valid {
  padding: 10px;
  margin: 0 auto;
  width: 100%;
  height: 40px;
  border: none;
  margin-bottom: 20px;
  border: 1px solid #D0D0D0;
  border-radius: 4px; }

.form__input--valid {
  border: 2px solid rgba(0, 255, 0, 0.5);
  background-color: rgba(0, 255, 0, 0.1); }

.form__input--invalid {
  border: 2px solid rgba(255, 0, 0, 0.5);
  background-color: rgba(255, 0, 0, 0.1); }

.form__label--hidden {
  display: none; }

textarea.form__input, textarea.form__input--valid, textarea.form__input--invalid {
  height: 125px; }

#messageErrors_msg,
#messageErrors_user {
  display: none; }

.btn, .btn--info, .btn--warning, .btn--error, .btn--success, .btn--disabled, .btn--default {
  flex-grow: 1;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
  padding: 0.625em;
  margin: 10px 0px; }
  .btn[disabled="true"], [disabled="true"].btn--info, [disabled="true"].btn--warning, [disabled="true"].btn--error, [disabled="true"].btn--success, [disabled="true"].btn--disabled, [disabled="true"].btn--default {
    cursor: not-allowed; }
  .btn[type="submit"], [type="submit"].btn--info, [type="submit"].btn--warning, [type="submit"].btn--error, [type="submit"].btn--success, [type="submit"].btn--disabled, [type="submit"].btn--default {
    width: 100%;
    margin: 0.625em 0; }
  .btn:focus, .btn--info:focus, .btn--warning:focus, .btn--error:focus, .btn--success:focus, .btn--disabled:focus, .btn--default:focus {
    outline: none; }
  @media (min-width: 769px) {
    .btn, .btn--info, .btn--warning, .btn--error, .btn--success, .btn--disabled, .btn--default {
      margin: 0.625em; } }
  @media (min-width: 1024px) {
    .btn, .btn--info, .btn--warning, .btn--error, .btn--success, .btn--disabled, .btn--default {
      width: 9.375em; } }
  .btn--default {
    background-color: #7377BD; }
    .btn--default:active {
      box-shadow: inset 0 0 10px #414589; }
  .btn--disabled {
    background-color: #B2B2B2; }
    .btn--disabled:active {
      box-shadow: inset 0 0 10px #7f7f7f; }
  .btn--success {
    background-color: #62CC82; }
    .btn--success:active {
      box-shadow: inset 0 0 10px #319750; }
  .btn--error {
    background-color: #E4757B; }
    .btn--error:active {
      box-shadow: inset 0 0 10px #cb2831; }
  .btn--warning {
    background-color: #FF774E; }
    .btn--warning:active {
      box-shadow: inset 0 0 10px #e73600; }
  .btn--info {
    background-color: #39ADD1; }
    .btn--info:active {
      box-shadow: inset 0 0 10px #1f6d85; }

.onoffswitch, .onoffswitch--info, .onoffswitch--warning, .onoffswitch--error, .onoffswitch--success, .onoffswitch--disabled, .onoffswitch--default {
  position: relative;
  align-self: center;
  width: 100px;
  user-select: none; }
  .onoffswitch__checkbox {
    display: none; }
  .onoffswitch__label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #FBFBFB;
    border-radius: 50px; }
  .onoffswitch__switch {
    display: block;
    width: 30px;
    margin: 4px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 62px;
    border: 2px solid #FBFBFB;
    border-radius: 50px;
    transition: all 0.3s ease-in 0s; }
  .onoffswitch__inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s; }
    .onoffswitch__inner:before, .onoffswitch__inner:after {
      display: block;
      float: left;
      width: 50%;
      height: 34px;
      padding: 0;
      line-height: 34px;
      font-size: 19px;
      color: white;
      font-family: Trebuchet, Arial, sans-serif;
      font-weight: bold;
      box-sizing: border-box;
      color: #FFFFFF; }
    .onoffswitch__inner:before {
      content: "ON";
      padding-left: 9px;
      background-color: #000000;
      text-align: left; }
    .onoffswitch__inner:after {
      content: "OFF";
      padding-right: 9px;
      background-color: #B2B2B2;
      text-align: right; }
  .onoffswitch--default .onoffswitch__inner:before {
    background-color: #7377BD; }
  .onoffswitch--disabled .onoffswitch__inner:before {
    background-color: #B2B2B2; }
  .onoffswitch--success .onoffswitch__inner:before {
    background-color: #62CC82; }
  .onoffswitch--error .onoffswitch__inner:before {
    background-color: #E4757B; }
  .onoffswitch--warning .onoffswitch__inner:before {
    background-color: #FF774E; }
  .onoffswitch--info .onoffswitch__inner:before {
    background-color: #39ADD1; }

.onoffswitch__checkbox:checked + .onoffswitch__label .onoffswitch__inner {
  margin-left: 0; }

.onoffswitch__checkbox:checked + .onoffswitch__label .onoffswitch__switch {
  right: 0px;
  background-color: #FFFFFF; }

header {
  position: fixed;
  top: 0;
  width: 100vw; }
  @media (min-width: 1024px) {
    header {
      position: unset;
      width: unset; } }
main {
  margin-top: 250px; }

.notification-big {
  display: none;
  border-right: 2px solid #4D4C71;
  padding-right: 10px; }

.notification--col {
  padding: 0 !important;
  margin: 0 !important; }

svg.bell {
  width: 33.219px;
  height: 33.219px; }

.bell__li {
  order: 1; }

.nav, .nav__side {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
  margin-top: 0;
  z-index: 10;
  align-self: center; }
  .nav li, .nav__side li {
    padding-left: 1.1em;
    padding-right: 1.1em;
    display: inline-block; }
    .nav li:hover svg, .nav__side li:hover svg {
      fill: #FFFFFF; }

.nav__side {
  height: 69px;
  width: 100%;
  background-color: #4D4C71;
  position: fixed;
  top: 134px; }
  .nav__side svg {
    height: 33px;
    margin-top: 18px;
    margin-bottom: 9px;
    fill: rgba(255, 255, 255, 0.7); }
  .nav__side ul {
    display: flex;
    justify-content: space-around; }

@media (min-width: 320px) and (max-width: 768px) {
  .nav__side {
    top: 158px; } }

@media (min-width: 769px) {
  .nav__side {
    top: 70px; } }

@media (min-width: 1024px) {
  main {
    margin-top: 0; }
  .bell__li {
    order: 0; }
  .notification-big {
    display: block; }
  .nav li, .nav__side li {
    padding-left: .65em;
    padding-right: .65em; }
  .notification--col {
    align-items: center;
    justify-content: flex-end; }
  .nav__side {
    top: 0;
    margin-top: 0;
    width: 60px;
    height: 100%; }
    .nav__side ul {
      flex-direction: column; }
  .menu--row {
    height: 70px; } }

panel-default {
  padding-top: 1.875em; }
  @media (min-width: 769px) {
    panel-default {
      padding-bottom: 1.25em; } }
panel-padding {
  padding-top: 2.125em; }
  @media (min-width: 769px) {
    panel-padding {
      padding-top: 5em;
      padding-bottom: 2.125em; } }
.grid {
  width: 90%; }
  [class*="grid__col--"] > .grid {
    width: 100%; }
  @media (min-width: 1024px) {
    .grid {
      max-width: 1050px; } }
@media (min-width: 769px) {
  .grid__col--1 {
    width: 6.5%; }
  .grid__col--2 {
    width: 15%; }
  .grid__col--3 {
    width: 23.5%; }
  .grid__col--4 {
    width: 32%; }
  .grid__col--5 {
    width: 40.5%; }
  .grid__col--6 {
    width: 49%; }
  .grid__col--7 {
    width: 57.5%; }
  .grid__col--8 {
    width: 66%; }
  .grid__col--9 {
    width: 74.5%; }
  .grid__col--10 {
    width: 83%; }
  .grid__col--11 {
    width: 91.5%; }
  .grid__col--12 {
    width: 100%; } }

[class^="grid__col--"] {
  padding: 0.625em;
  display: flex;
  justify-content: space-around; }
  @media (min-width: 320px) and (max-width: 768px) {
    [class^="grid__col--"] {
      margin-top: 0.75em;
      margin-bottom: 0.75em;
      flex-direction: column;
      justify-content: center; } }
  @media (min-width: 769px) {
    [class^="grid__col--"] {
      float: left;
      min-height: 1px;
      padding-left: 10px;
      padding-right: 10px; }
      [class^="grid__col--"] + [class^="grid__col--"] {
        margin-left: 2%; }
      [class^="grid__col--"]:last-of-type {
        float: right; } }
@media (min-width: 769px) {
  .grid__row {
    display: flex;
    justify-content: space-between; } }

.flex {
  display: flex; }
  @media (min-width: 320px) and (max-width: 768px) {
    .flex {
      flex-direction: column; } }
.flex__align--left {
  justify-content: left; }

.flex__align--center {
  justify-content: center; }

.flex__align--right {
  justify-content: right; }

.row {
  display: flex;
  margin-bottom: 15px;
  width: 100%; }

div.contain {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px; }

.no-margin {
  margin-top: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important; }

.grid__row {
  border-bottom: 1px solid #D0D0D0; }

@media (min-width: 320px) and (max-width: 768px) {
  main [class^="grid__col--"] + [class^="grid__col--"] {
    border-top: 1px solid #D0D0D0; } }

@media (min-width: 1024px) {
  main [class^="grid__col--"] + [class^="grid__col--"] {
    border-left: 1px solid #D0D0D0;
    border-top: none; }
  main [class^="grid__col--"]:first-child {
    margin-left: 60px; } }

.all-social-stats {
  display: flex;
  flex-direction: column;
  justify-content: center; }

@media (min-width: 769px) {
  .all-social-stats {
    flex-direction: row;
    justify-content: space-around; }
  .social-stats-col {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px; }
  .social-stats-title {
    margin: 0; } }

.social-stat-container {
  border: 1px solid #D0D0D0;
  border-radius: 4px;
  display: inline-block;
  background-color: #FBFBFB;
  margin-top: 15px; }
  @media (min-width: 1024px) {
    .social-stat-container {
      margin-left: 15px; } }
.social-icon-name {
  font-size: 16px;
  width: 130px;
  text-align: left;
  color: #7377BD;
  padding-bottom: 0; }

.social-icon-data {
  font-size: 30px;
  color: #666666;
  padding-bottom: 10px; }

.social-icon--google, .social-icon--facebook, .social-icon--twitter {
  background-color: #7377BD;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: 60%;
  background-position: 50% 50%;
  width: 50px;
  height: 50px;
  margin: 11px; }

.social-icon--twitter {
  background-image: url(../svg/icon-twitter.svg);
  background-color: #25A0EF;
  background-position: 50% 65%; }

.social-icon--facebook {
  background-image: url(../svg/icon-facebook.svg);
  background-color: #3B5998; }

.social-icon--google {
  background-image: url(../svg/icon-google-plus.svg);
  background-color: #E24335; }

.timezone-selector {
  appearance: none;
  height: 40px;
  border: 1px solid #D0D0D0;
  width: 100%;
  padding: 10px;
  text-indent: 1px;
  cursor: pointer;
  margin-bottom: 25px;
  content: "Select Timezone";
  color: #666666;
  background-color: #FBFBFB;
  background: url("../svg/icon-arrow-down.svg") no-repeat;
  background-position: 98% 50%;
  background-size: 16px; }

.logo a {
  color: #FFFFFF; }

h1.logo {
  text-align: center; }

.logo--col {
  z-index: 11;
  background-color: #7377BD;
  justify-content: left; }
  @media (min-width: 769px) {
    .logo--col {
      width: 180px; } }
  @media (min-width: 1024px) {
    .logo--col {
      width: 100%; } }
.alert, .alert--info, .alert--warning, .alert--error, .alert--success, .alert--disabled, .alert--default {
  padding: 10px 0 10px 20px;
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  border-radius: 4px; }
  .alert--default {
    background-color: #7377BD; }
  .alert--disabled {
    background-color: #B2B2B2; }
  .alert--success {
    background-color: #62CC82; }
  .alert--error {
    background-color: #E4757B; }
  .alert--warning {
    background-color: #FF774E; }
  .alert--info {
    background-color: #39ADD1; }

[class^="alert"] .title,
[class^="alert"] .text {
  margin: 0;
  display: contents; }

.closebtn {
  color: white;
  align-self: center;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  overflow: hidden;
  min-width: 40px; }
  .closebtn:hover {
    color: black; }

.visits-list {
  align-self: flex-end; }

.visits__option, .visits__option--active {
  cursor: pointer;
  color: #B2B2B2;
  text-decoration: bold;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 700; }
  .visits__option:hover:not([class$=active]), .visits__option--active:hover:not([class$=active]) {
    background-color: #D0D0D0; }
  .visits__option + .visits__option, .visits__option--active + .visits__option, .visits__option + .visits__option--active, .visits__option--active + .visits__option--active {
    margin-left: 10px; }
  .visits__option--active {
    color: #FFFFFF;
    background-color: #82C890; }

.dashboard__title {
  color: #666666;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  margin: 0; }
  @media (min-width: 769px) {
    .dashboard__title {
      margin: 20px 0; } }
.search {
  background-color: #FBFBFB;
  margin: 0 auto; }

.search__form {
  display: flex;
  justify-content: flex-end;
  width: 100%; }

.search__box {
  width: 95%;
  height: 40px;
  padding: 10px;
  cursor: text;
  border: 1px solid #D0D0D0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
  align-self: center; }

.search__button {
  width: 40px;
  height: 40px;
  padding: 0px;
  cursor: pointer;
  border: 1px solid #D0D0D0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
  align-self: center;
  background: url(../svg/icon-search.svg) #FFFFFF no-repeat center; }

.scrollProgressBar__container--vertical, .scrollProgressBar__container--horizontal {
  position: fixed;
  z-index: 1;
  background-color: #FBFBFB; }

.scrollProgressBar__progress--vertical, .scrollProgressBar__progress--horizontal {
  background: #82C890; }

.scrollProgressBar__container--horizontal {
  width: 100%;
  height: 8px;
  top: 203px; }

.scrollProgressBar__progress--horizontal {
  width: 0%;
  height: 8px; }

.scrollProgressBar__container--vertical {
  display: none;
  background-color: #4D4C71;
  height: 250px;
  width: 8px;
  z-index: 10;
  top: 70px;
  width: 8px; }

.scrollProgressBar__progress--vertical {
  border-radius: 4px;
  height: 0%;
  width: 8px; }

@media (min-width: 320px) and (max-width: 768px) {
  .scrollProgressBar__container--horizontal {
    top: 227px; } }

@media (min-width: 769px) {
  .scrollProgressBar__container--horizontal {
    top: 139px; } }

@media (min-width: 1024px) {
  .scrollProgressBar__container--horizontal {
    display: none; }
  .scrollProgressBar__container--vertical {
    display: block; } }

.modal__footer, .modal__header {
  padding: 1.5px 16px; }

.modal, .modal--info, .modal--warning, .modal--error, .modal--success, .modal--disabled, .modal--default {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  color: #FFFFFF; }
  .modal__content {
    background-color: #FFFFFF;
    position: relative;
    margin: auto;
    padding: 0;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation: slideDown 0.4s; }
  .modal__header {
    display: flex;
    justify-content: space-between;
    background-color: #000000; }
  .modal__body {
    padding: 30px 16px 25px 16px;
    color: #666666; }
  .modal__footer {
    background-color: #000000; }
  .modal--default .modal__header,
  .modal--default .modal__footer {
    background-color: #7377BD; }
  .modal--disabled .modal__header,
  .modal--disabled .modal__footer {
    background-color: #B2B2B2; }
  .modal--success .modal__header,
  .modal--success .modal__footer {
    background-color: #62CC82; }
  .modal--error .modal__header,
  .modal--error .modal__footer {
    background-color: #E4757B; }
  .modal--warning .modal__header,
  .modal--warning .modal__footer {
    background-color: #FF774E; }
  .modal--info .modal__header,
  .modal--info .modal__footer {
    background-color: #39ADD1; }

@keyframes slideDown {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }

/*# sourceMappingURL=styles.css.map */