doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title YourApp&trade;
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src="node_modules/jquery/dist/jquery.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    link(rel='stylesheet', href='node_modules/normalize.css/normalize.css')
    link(rel="stylesheet", href="node_modules/jquery-ui/themes/base/all.css")
    link(rel='stylesheet', href='css/styles.css')
    include _favicon.pug
  body
    header
    main

    footer
    script(src="node_modules/moment/min/moment.min.js")
    script(src="node_modules/chart.js/dist/Chart.bundle.min.js")
    script(src="js/Chart.roundedBarCharts.js")
    script(src="js/script.js")
    script(src="js/chart-line.js")
    script(src="js/chart-bar.js")
    script(src="js/chart-doughnut.js")
