doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title YourApp&trade;
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css')
    link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel='stylesheet', href='css/styles.css')
    //- include _favicon
  body
    div(style="display:none")
      include svgs/icon-bell.svg
      include svgs/icon-arrow-right.svg

    header
      div.grid__row.menu--row
        div.grid__col--2.logo--col
          h1.logo
            a(href="#") 
              span.bold Your
              span.light App
                sup &trade;
        div.grid__col--1.notification--col
          a(onclick="displayModal(modalNotifications);").notification-big
            svg.bell
              use(xlink:href="#bell")
        div#user_curent.grid__col--3.no-margin.user_curent--col
          a.user_curent
            img.user_image(src="https://randomuser.me/api/portraits/men/86.jpg")
            p.user_name Josh Sullivan

    main

      div.nav__side--bg
        ul
          li
            a(onclick="displayModal(modalNotifications);").hidden-bell
              svg.bell
                use(xlink:href="#bell")

      nav.nav__side
        ul
          li.notification-small
            a(onclick="displayModal(modalNotifications);")
              svg.bell
                use(xlink:href="#bell")
          li
            a(href="#dashboard-area")
              include svgs/icon-dashboard.svg
          li
            a(onClick="document.getElementById('members-area').scrollIntoView(true);")
              include svgs/icon-members.svg
          li
            a(href="#visits-area")
              include svgs/icon-visits.svg
          li
            a(href="#settings-area")
              include svgs/icon-settings.svg

        div.headergrid__row
          div.progress-container
            div#myBar.progress-bar


      
      div.grid__row
        div.grid__col--3
          h2.dashboard__title Dashboard
        div.grid__col--9.serarch
          input.serarch--box(type="text" placeholder="Search")


      div.grid__row
        div.grid__col--12
          div#alerts.contain



      div.grid__row
        div.grid__col--12
          div.contain
            h5 Daily Traffic
            ul#all-options.visits-list
              li(onClick="drawLineChartHourly()")#hourly-option.visits__option Hourly
              li(onClick="drawLineChartDaily()")#daily-option.visits__option Daily
              li(onClick="drawLineChartWeekly()")#weekly-option.visits__option Weekly
              li(onClick="drawLineChartMonthly()")#monthly-option.visits__option Monthly
            canvas#chart-line



      div#dashboard-area.grid__row
        div.grid__col--6
          div.contain
            h5 Daily Traffic
            canvas#chart-bar
        div.grid__col--6
          div.contain
            h5 Mobile Users
            canvas#chart-doughnut
          

      div.grid__row
        div.grid__col--12.social-stats-col
          h5.social-stats-title Social Status
          div.all-social-stats
            table.social-stat-container
              tr
                th(rowspan="2")
                  div.social-icon--twitter
                th.social-icon-name Twiter
              tr
                td.social-icon-data 10,345

            table.social-stat-container
              tr
                th(rowspan="2")
                  div.social-icon--facebook
                th.social-icon-name Facebook
              tr
                td.social-icon-data 8,739

            table.social-stat-container
              tr
                th(rowspan="2")
                  div.social-icon--google
                th.social-icon-name Google+
              tr
                td.social-icon-data 2,530

      
      div#members-area.grid__row
        div.grid__col--6
          div.contain.new_members
            h5 New Members
            ul#new-members
              li
                a.user
                  img.user_image(src="https://randomuser.me/api/portraits/men/86.jpg")
                  div.user-details
                    p.user-title Victoria Chambers
                    p.user-subtitle.email victoria.chambers80@example.com
                  div.user-data-right
                    p.user-data-right-title 10/05/15
              li
                a.user
                  img.user_image(src="https://randomuser.me/api/portraits/men/86.jpg")
                  div.user-details
                    p.user-title Dale Byrd
                    p.user-subtitle.email dalebyrd52@example.com
                  div.user-data-right
                    p.user-data-right-title 10/05/15
              li
                a.user
                  img.user_image(src="https://randomuser.me/api/portraits/men/86.jpg")
                  div.user-details
                    p.user-title Dawn Wood
                    p.user-subtitle.email dawn.wood16@example.com
                  div.user-data-right
                    p.user-data-right-title 10/05/15
              li
                a.user
                  img.user_image(src="https://randomuser.me/api/portraits/men/86.jpg")
                  div.user-details
                    p.user-title Dan Oliver
                    p.user-subtitle.email dano.liver82@example.com
                  div.user-data-right
                    p.user-data-right-title 10/05/15





        div.grid__col--6
          div.contain.recent_activity
            h5 Recent Activity
            ul#new-activity
              li
                a.user
                  img.user_image(src="https://randomuser.me/api/portraits/men/86.jpg")
                  div.user-details
                    p.user-title Victoria Chambers likes somthing
                    p.user-subtitle 1 month ago
                  div.user-data-right
                    p.recent_activity-carrot &gt;
              li
                a.user
                  img.user_image(src="https://randomuser.me/api/portraits/men/86.jpg")
                  div.user-details
                    p.user-title Dale Byrd likes somthing
                    p.user-subtitle 1 month ago
                  div.user-data-right
                    p.recent_activity-carrot &gt;
              li
                a.user
                  img.user_image(src="https://randomuser.me/api/portraits/men/86.jpg")
                  div.user-details
                    p.user-title Dawn Wood likes somthing
                    p.user-subtitle 1 month ago
                  div.user-data-right
                    p.recent_activity-carrot &gt;
              li
                a.user
                  img.user_image(src="https://randomuser.me/api/portraits/men/86.jpg")
                  div.user-details
                    p.user-title Dan Oliver likes somthing
                    p.user-subtitle 1 month ago
                  div.user-data-right
                    p.recent_activity-carrot &gt;

















      div.grid__row
        div.grid__col--6
          div.contain
            h5 Mesaage User
            form#mesaage__user--form
              input#userName.form__input(type="text" name="name" placeholder="Search for User")
              textarea#userMsg.form__input(name="textarea" rows="5" cols="45" placeholder="Write something here")
              button#sendMsg.btn--default(type="submit") Send
              ul#messageErrors
                li#messageErrors_user.alert--error
                li#messageErrors_msg.alert--error


        div.grid__col--6
          div#settings-area.contain
            h5 Settings

            div.row
              label._50(for="email-notifications") Send Email Notifications
              div.onoffswitch
                  input.onoffswitch-checkbox(id="email-notifications" type="checkbox" name="onoffswitch") 
                  label.onoffswitch-label(for="email-notifications")
                      span.onoffswitch-inner
                      span.onoffswitch-switch
            br
            br
            div.row
              label._50(for="public-profile") Set Profile to Public
              div.onoffswitch
                  input.onoffswitch-checkbox(id="public-profile" type="checkbox" name="onoffswitch") 
                  label.onoffswitch-label(for="public-profile")
                      span.onoffswitch-inner
                      span.onoffswitch-switch

            include jade_partials/_timezones
            div.flex
              button#saveBtn.btn--default SAVE
              button#cancelBtn.btn--disabled CANCEL


              div#modals
                div#notifications.modal
                  div.modal__content
                    div.modal__header
                      h2 Modal Header
                      //- span.closebtn &times;
                    div.modal__body
                      p Some text in the Modal Body
                      p Some other text...
                    div.modal__footer
                      h3 Modal Footer













  footer
    script( src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"
            integrity="sha256-9YAuB2VnFZNJ+lKfpaQ3dKQT9/C0j3VUla76hHbiVF8="
            crossorigin="anonymous"
          )
    script( src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"
            integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ="
            crossorigin="anonymous"
          )
    script(src="js/Chart.roundedBarCharts.min.js")
    script(src="js/script.js")
    script(src="js/prog-scrol.js")
    script(src="js/chart-line.js")
    script(src="js/chart-bar.js")
    script(src="js/chart-doughnut.js")







