doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Placeholder Title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css')
    link(rel='stylesheet', href='css/styles.css')
    //- include _favicon
  body
    header
    main



      div.grid__row
        div.grid__col--12
          div.contain
            h5 Daily Traffic
            canvas#chart-line



      div.grid__row
        div.grid__col--6
          div.contain
            h5 Daily Traffic
            canvas#chart-bar

        div.grid__col--6
          div.contain
            h5 Mobile Users
            canvas#chart-doughnut


      div.grid__row
        div.grid__col--12
          h5 Social Status
          table.social-stat-container
            tr
              th(rowspan="2")
                div.social-icon--twitter
              th.social-icon-name Twiter
            tr
              td.social-icon-data 10,345

          table.social-stat-container
            tr
              th(rowspan="2")
                div.social-icon--facebook
              th.social-icon-name Facebook
            tr
              td.social-icon-data 8,739

          table.social-stat-container
            tr
              th(rowspan="2")
                div.social-icon--google
              th.social-icon-name Google+
            tr
              td.social-icon-data 2,530


      div.grid__row
        div.grid__col--6
          div.contain
            h5 New Members


        div.grid__col--6
          div.contain
            h5 Recent Activity

      div.grid__row
        div.grid__col--6
          div.contain
            h5 Mesaage User


        div.grid__col--6
          div.contain
            h5 Settings
            div(class="onoffswitch")
                input(type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked)
                label(class="onoffswitch-label" for="myonoffswitch")
                    span(class="onoffswitch-inner")
                    span(class="onoffswitch-switch")














  footer
    script( src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"
            integrity="sha256-9YAuB2VnFZNJ+lKfpaQ3dKQT9/C0j3VUla76hHbiVF8="
            crossorigin="anonymous"
          )
    script( src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"
            integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ="
            crossorigin="anonymous"
          )
    script(src="js/Chart.roundedBarCharts.min.js")
    script(src="js/script.js")