doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title YourApp&trade;
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css')
    link(rel='stylesheet', href='css/styles.css')
    //- include _favicon
  body
    div(style="display:none")
      include svgs/icon-bell.svg
    header
      div.grid__row
        div.grid__col--2
          h1.logo
            a(href="#") 
              span.bold Your
              span.light App
                sup &trade;
        div.grid__col--2.no-margin
          a.notification-big
            svg.bell
              use(xlink:href="#bell")
        div.grid__col--3.no-margin
          a.user
            img.user_image(src="https://randomuser.me/api/portraits/men/86.jpg")
            p.user_name Josh Sullivan


      div.nav__side--bg
        ul
          li
            a.hidden-bell
              svg.bell
                use(xlink:href="#bell")

      nav.nav__side
        ul
          li.current
            a(href="#dashboard-area")
              include svgs/icon-dashboard.svg
          li
            a(href="#members-area")
              include svgs/icon-members.svg
          li
            a(href="#visits-area")
              include svgs/icon-visits.svg
          li
            a(href="#settings-area")
              include svgs/icon-settings.svg
          li.notification-small
            a
              svg.bell
                use(xlink:href="#bell")

    main

      
      div.grid__row
        div.grid__col--12.no-margin
          div.contain
            h2 Dashboard
            input(type="text" placeholder="Serch")

      div.grid__row
        div.grid__col--12.no-margin
          div.contain
            div.alert This is an alert
            div.alert--default This is a default alert
            div.alert--disabled This is a disabled alert
            div.alert--success This is a success alert
            div.alert--error This is an error alert
            div.alert--warning This is a warning alert
            div.alert--info This is an info alert



      div.grid__row
        div.grid__col--12.no-margin
          div.contain
            h5 Daily Traffic
            canvas#chart-line



      div#dashboard-area.grid__row
        div.grid__col--6
          div.contain
            h5 Daily Traffic
            canvas#chart-bar
        div.grid__col--6
          div.contain
            h5 Mobile Users
            canvas#chart-doughnut
          

      div.grid__row
        div.grid__col--12.social-stats-col
          h5.social-stats-title Social Status
          div.all-social-stats
            table.social-stat-container
              tr
                th(rowspan="2")
                  div.social-icon--twitter
                th.social-icon-name Twiter
              tr
                td.social-icon-data 10,345

            table.social-stat-container
              tr
                th(rowspan="2")
                  div.social-icon--facebook
                th.social-icon-name Facebook
              tr
                td.social-icon-data 8,739

            table.social-stat-container
              tr
                th(rowspan="2")
                  div.social-icon--google
                th.social-icon-name Google+
              tr
                td.social-icon-data 2,530

      
      div#members-area.grid__row
        div.grid__col--6
          div.contain.new_members
            h5 New Members
            ul
              li
                a.user
                  img.user_image(src="https://randomuser.me/api/portraits/men/86.jpg")
                  div.user-data-new
                    p.user_name-new Victoria Chambers
                    p.user_email-new user@server.com
                  div.user-data-new
                    p.user-data-event-time 10/05/15
              li
                a.user
                  img.user_image(src="https://randomuser.me/api/portraits/men/86.jpg")
                  div.user-data-new
                    p.user_name-new Victoria Chambers
                    p.user_email-new user@server.com
                  div.user-data-new
                    p.user-data-event-time 10/05/15
              li
                a.user
                  img.user_image(src="https://randomuser.me/api/portraits/men/86.jpg")
                  div.user-data-new
                    p.user_name-new Victoria Chambers
                    p.user_email-new user@server.com
                  div.user-data-new
                    p.user-data-event-time 10/05/15
              li
                a.user
                  img.user_image(src="https://randomuser.me/api/portraits/men/86.jpg")
                  div.user-data-new
                    p.user_name-new Victoria Chambers
                    p.user_email-new user@server.com
                  div.user-data-new
                    p.user-data-event-time 10/05/15




        div.grid__col--6
          div.contain.recent_activity
            h5 Recent Activity
            ul
              li
                a.user
                  img.user_image(src="https://randomuser.me/api/portraits/men/86.jpg")
                  div.recent_activity
                    p.recent_activity-data Victoria Chambers comented on your greatness
                    p.recent_activity-time 4 hours ago
                  div.recent_activity
                    p.recent_activity-carrot >
              li
                a.user
                  img.user_image(src="https://randomuser.me/api/portraits/men/86.jpg")
                  div.recent_activity
                    p.recent_activity-data Victoria Chambers comented on your greatness
                    p.recent_activity-time 4 hours ago
                  div.recent_activity
                    p.recent_activity-carrot >
              li
                a.user
                  img.user_image(src="https://randomuser.me/api/portraits/men/86.jpg")
                  div.recent_activity
                    p.recent_activity-data Victoria Chambers comented on your greatness
                    p.recent_activity-time 4 hours ago
                  div.recent_activity
                    p.recent_activity-carrot >
              li
                a.user
                  img.user_image(src="https://randomuser.me/api/portraits/men/86.jpg")
                  div.recent_activity
                    p.recent_activity-data Victoria Chambers comented on your greatness
                    p.recent_activity-time 4 hours ago
                  div.recent_activity
                    p.recent_activity-carrot >



















      div.grid__row
        div.grid__col--6
          div.contain
            h5 Mesaage User
            form
              input.form__input(id="username" type="text" name="name" placeholder="Search for User")
              textarea.form__input(name="textarea" rows="5" cols="45" placeholder="Write something here")
              input.btn--default(type="submit" value="Send")


        div.grid__col--6
          div#settings-area.contain
            h5 Settings

            div.row
              label._50(for="email-notifications") Send Email Notifications
              div.onoffswitch
                  input.onoffswitch-checkbox(id="email-notifications" type="checkbox" name="onoffswitch" checked) 
                  label.onoffswitch-label(for="email-notifications")
                      span.onoffswitch-inner
                      span.onoffswitch-switch
            br
            br
            div.row
              label._50(for="public-profile") Set Profile to Public
              div.onoffswitch
                  input.onoffswitch-checkbox(id="public-profile" type="checkbox" name="onoffswitch" checked) 
                  label.onoffswitch-label(for="public-profile")
                      span.onoffswitch-inner
                      span.onoffswitch-switch

            include jade_partials/_timezones
            div
              input.btn--default(value="SAVE")
              input.btn--disabled(value="CANCEL")














  footer
    script( src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"
            integrity="sha256-9YAuB2VnFZNJ+lKfpaQ3dKQT9/C0j3VUla76hHbiVF8="
            crossorigin="anonymous"
          )
    script( src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"
            integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ="
            crossorigin="anonymous"
          )
    script(src="js/Chart.roundedBarCharts.min.js")
    script(src="js/script.js")